aside.sec1{
	/*position: relative;*/
	/*right: -577px;*/
	float: right;
}

aside.sec2{
	position: relative;
	bottom: -301px;
	right: -638px;
}

aside.sec3{
	background-color: green;
	position: fixed;
	/*margin: 0 0;*/
	top: 0px;
	right: 0px

}
aside.sec4_1{
	background-color: red;
	position: absolute;
	z-index: 10;
	right: 350px;
	/*margin-left: auto;*/
	/*margin-right: auto;*/

}
aside.sec4_2{
	background-color: black;
	position: absolute;
	right: 340px;
	bottom: -1620px;
	/*margin-left: auto;*/
	/*margin-right: auto;*/

}